<div class="card text-center bg-transparent border-0" style="height:33px">
	<script async src="https://cse.google.com/cse.js?cx=96e9d9952d0fe472a" nonce="@Model.Nonce">
	</script>
	<div class="gcse-searchbox-only"></div>
</div>