<div class="col-md-6 col-lg-4 mb-4">
	<div class="card">
		<img src="@Model.RelativeImageUrlSmall" class="bd-placeholder-img card-img-top" alt="@Model.Title">
		<a href="@Model.RelativeUrl" class="stretched-link" rel="noopener"></a>
	</div>
</div>