<div class="col-md-6 col-lg-4 mb-4">
	<div class="card shadow">
		{start-imageexists}
		<img src="{itemdata-relativeimageurl}" class="bd-placeholder-img card-img-top" />
		{end-imageexists}
		<div class="card-body">
			<h3 class="card-title display-7">{itemdata-title}</h3>
			<p class="card-text">{itemdata-description}</p>
			<div class="card-text text-end"><small class="text-muted">{itemdata-DatePublishedOrModificationText}</small></div>
			<a href="{itemdata-relativeurl}" _target="_blank" class="stretched-link"></a>
		</div>
	</div>
</div>