<!-- todo: side column -->
<div class="container">
	<div class="row readableWidth mx-auto">
		<div class="col shadow bg-white rounded">
			<div class="container">
				<div class="row">
					<div class="col pt-3">
						<h1 class="text-center display-6">{itemdata-title}</h1>
					</div>  
				</div>	
				<div class="row">
					<div class="col pb-2">
						<div class="text-black-50 text-center">
						  <small>by <a href="https://georgekosmidis.net">George Kosmidis</a> / {itemdata-DatePublishedAndModificationText}</small>
						</div>
					</div>  
				</div>	
				{start-imageexists}
				<div class="row">
					<div class="col text-center">
						<img src="{itemdata-relativeimageurl}" alt="{itemdata-title}"/>
					</div>
				</div>
				{end-imageexists}
				<div class="row">
					<div class="col pt-3 pb-6">
						{body}
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>