<div class="container">
	<div class="row mx-auto article-google-engine-top">
		<div class="col pb-4">
			<div class="card text-center bg-transparent border-0" style="height:33px">
				<script async src="https://cse.google.com/cse.js?cx=c67a1214306f44e87" nonce="{script-nonce}"></script>
				<div class="gcse-searchbox-only"></div>
			</div>
		</div>
	</div>
	<div class="row mx-auto">
		<div class="col-lg-8 mb-4 shadow bg-white rounded">
			<div class="container article">
				<div class="row">
					<div class="col pt-3">
						<h1 class="text-center display-6">{itemdata-title}</h1>
					</div>  
				</div>	
				<div class="row">
					<div class="col pb-2">
						<div class="text-black-50 text-center">
						  <small>by <a href="https://georgekosmidis.net">George Kosmidis</a> / {itemdata-DatePublishedAndModificationText}</small>
						</div>
					</div>  
				</div>	
				{start-imageexists}
				<div class="row">
					<div class="col text-center">
						<img src="{itemdata-relativeimageurl}" alt="{itemdata-title}"/>
					</div>
				</div>
				{end-imageexists}
				<div class="row">
					<div class="col pt-3 pb-6">
						{body}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="container px-0 mx-0">
				<div class="row mx-auto article-google-engine-left ">
					<div class="col pb-4">
						<div class="card text-center bg-transparent border-0" style="height:33px">
							<script async src="https://cse.google.com/cse.js?cx=c67a1214306f44e87" nonce="{script-nonce}"></script>
							<div class="gcse-searchbox-only"></div>
						</div>
					</div>
				</div>
				<div class="row mx-auto">
					<div class="col pb-4">							
						<div class="card"> 
							<img src="/media/mvp-small.png" class="bd-placeholder-img card-img-top" alt="Microsoft MVP - George Kosmidis"> 
							<a href="https://mvp.microsoft.com/en-us/PublicProfile/5004591" class="stretched-link" rel="noopener"></a> 
						</div>	
					</div>						
				</div>
			</div>			
		</div>		
	</div>			
</div>