<div class="col-md-6 col-lg-4 mb-4">
	<div class="card shadow">
		{start-imageexists}
		<img src="{itemdata-relativeimageurl-small}" class="bd-placeholder-img card-img-top" alt="{itemdata-title}" />
		{end-imageexists}
		<div class="card-body">
			<h2 class="card-title">{itemdata-title}</h2>
			<p class="card-text">{itemdata-description}</p>
			<div class="card-text text-end"><small class="text-muted">{itemdata-DatePublishedOrModificationText}</small></div>
			<a href="{itemdata-relativeurl}" target="_blank" class="stretched-link"></a>
		</div>
	</div>
</div>