<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="findme" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="findme.html" />
                    <action type="Redirect" url="https://georgekosmidis.net/" />
                </rule>
                <rule name="index" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="index.html" />
                    <action type="Redirect" url="/" />
                </rule>
				<rule name="OldDateFormat1" stopProcessing="true">
                    <match url="^20[0-9]{2}/[0-9]{2}/[0-9]{2}/([^\.]*)/$" />
                    <action type="Redirect" url="/{R:1}.html" />
                </rule>          
				<rule name="OldDateFormat2" stopProcessing="true">
                    <match url="^20[0-9]{2}/[0-9]{2}/[0-9]{2}/([^\.]*)$" />
                    <action type="Redirect" url="/{R:1}.html" />
                </rule>     				
                <rule name="OldFolderFormat1" stopProcessing="true">
                    <match url="^([^\.]+)/$" />
                    <action type="Redirect" url="/{R:1}.html" />
                </rule>		
				<rule name="OldFolderFormat2" stopProcessing="true">
                    <match url="^([^.]+)$" />
                    <action type="Redirect" url="/{R:1}.html" />
                </rule>		
                <rule name="oldArticle" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="2018/06/08/publishing-asp-net-core-an-error-occurred-while-starting-the-application*" />
                    <action type="Redirect" url="/an-error-occurred-while-starting-the-application-process-failure-and-many-more.html" />
                </rule>	
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
